body{font-family: 'Poppins', sans-serif;
margin: 0px;
}
h1{
    font-size: 60px;}
.color.ornge{
    color: coral; font-size: 70px;}
.flex-cont{
    display: flex;
margin-bottom: 400px;
}
.half-width{
    width: 50%;
    padding-left: 5%;}
.half-width img{
    width: 80%;}
   .link_bottom{
       text-decoration: none;
       background-image: linear-gradient(rgb(247, 64, 9), rgb(247, 135, 7));
font-size: 25px;
padding: 20px,40px;
color: rgb(250, 248, 248);
border-radius: 5px;
font-weight: 500; }
.top-banner{
    background-image: url(pic/top-banner.png);
    background-repeat: no-repeat;

}
.drem-big{background-image: url(pic/dream-bg.png);
    background-repeat: no-repeat;
background-position: right;

}
.color.ornge1{
    color: coral; font-size: 20px;}
    .Experiences{
        width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
padding-left: 50px;
border-radius: 20px;

}
 h2{font-size: 40px;}
 .end{
     background-image: url(pic/exp-bg.png);
     background-repeat: no-repeat;
     background-position: left;
     


 }
 #ex-2{
     border-left: 7px solid;
     border-image: linear-gradient(blue , cyan);
     border-image-slice: 1;
 }
 #ex-1{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(243, 160, 35) , rgb(238, 72, 7));
    border-image-slice: 1;
}
footer p {
    text-align: center;
    color: coral; font-size: 20px;
}
